/* Default styles for buttons */
.like-btn, .dislike-btn, .choose-btn {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
/* Active state style without color change */
.like-btn.active, .dislike-btn.active {
    outline: 2px solid #555; /* Subtle outline to indicate selection */
    border-radius: 5px;
}
/* Style for the feedback message */
.feedback-message {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

.outfit-recommendation {
    text-align: center;
    margin-top: 40px;
}

.outfit-recommendation h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.outfit-display {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    
}

.outfit-display img {
    width: 100px;
    height: auto;
}

.outfit-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.dislike-btn, .like-btn, .choose-btn {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
}

.choose-btn {
    font-size: 1em;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.edit {
    font-size: 1em;
    color: #555;
    cursor: pointer;
    margin: 0 10px;
}

.next-btn {
    font-size: 1em;
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}