* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 30px;
}

.signin-form {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 1.1em;
    text-align: left;
    color: black;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: black;
}

input::placeholder {
    color: #bbb;
}

.btn {
    background-color: black;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

.btn:hover {
    background-color: #333;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    font-size: 0.9em;
    color: #333;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

