body {
  background-image: url('../static/wardrobe_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  position: relative;
  width: 100%;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 380px;
  padding: 10px;
  background-image: url('../static/shelf.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
}

.carousel-track {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  min-width: 100px;
  height: 100px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.arrow {
  cursor: pointer;
  font-size: 2rem;
  padding: 0 10px;
  user-select: none;
}

.middle-item {
    outline: 3px solid black;
    outline-offset: -2px;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.title {
  display:flex;
  justify-content: center;
  align-items:center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 2rem;
}